html, body, #map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header {
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  width: 100%;
  z-index: 10;
  line-height: 37px;
}

.header .container-fluid {
  position: relative;
}

.header h1 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.2px;
  margin: 0;
  padding: 10px 0 10px 55px;
  text-transform: uppercase;
}

.header a {
  padding-right: 20px;
  color: #fff;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#map_canvas {
  position: relative;
}

.angular-leaflet-map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.marginall {
    margin: 6em;
  }
 }

 .col-xs-6.col-md-3 {
  padding: 1px -5px;
  margin-bottom: 0;
  margin-top: 2em;
}

.col-xs-6.col-md-4 img {
  opacity: 0.5;
  height: 320px;
  width: 300px;
  margin: 1em;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
